
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="calculator">
            <form method="post" action="" class="calc-form">
                <h1>Enter the amount</h1>
                <label for="calc_this">Value in 
                    <!-- Rectangular switch -->
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                </label>
                <input name="calc_this" type="number" value=1>
                <button type="submit">Convert Currency</button>
            </form>
            <div class="result"><%= result %> </div>
        </div>
            
    </body>
</html>