<% include partials/header %>

        <div class="calculator">
            <form method="post" action="" class="calc-form">
                <h1>Enter the amount</h1>
                <label for="number">Value in 
                    <!-- Rectangular switch -->
                <label class="switch">
                    <input name="direction" type="checkbox">
                    <span class="slider"></span>
                </label>
                </label>
                <input name="number" type="number" value=1>
                <button type="submit">Convert Currency</button>
            </form>
            <div class="result"><%= result %> </div>
        </div>

<% include partials/footer %>
